<div clss="container py-5" style="margin:5px;padding:5px">
    <div class="rounded shadow p-2 d-flex">
        <img src="/assets/info.svg" alt="" width="250">
        <div>
            <h3 class="text-primary">Bienvenue dans la partie admin</h3>
            <h5 class="text-secondary">
                Avec cette application vous pouvez consulter, créer, modifier et supprimer des datasets
            </h5>
            <hr>
            <p class="text-muted">
                Cette application a été programmée avec Spring boot, Angular et MongoDB
            </p>
        </div>
    </div>
    
</div>

<div clss="container py-5" style="margin:5px;padding:5px">
    <div class="rounded shadow p-2 d-flex">
        <img src="/assets/admin.svg" alt="" width="240" height="430">
        <div>
            <h3 class="text-primary">&nbsp;Information</h3>
            <h5 class="text-secondary">
                &nbsp; Contexe , Dataset
            </h5>
            <hr> 
            <p class="text-muted">
                &nbsp;Cette application et la partie adminstrateur d’une application web distribuée basée sur la
                Technologie spring architecture <br>&nbsp;micro-services, et flutter pour l’analyse, la visualisation et 
                le Clustering des données. 
            </p>
            
            <p class="text-muted">
                &nbsp;les données Utilisees dans cette application sont collectees depuis plusieurs sites web de vendre <br>&nbsp;des Appartement dans la ville de Tanger. 
            </p>
            <p class="text-muted">
                &nbsp;mais aussi il ya des données collectees a partir des instances de l'application client flutter concernant les appareils utiliser et aussi <br>&nbsp;les information personelles fournir par les utilisateurs.
            </p>
            <p class="text-muted">
                &nbsp;l'utilisateur de cette application peut créer des modèles d'apprentissage automatique K-means,SOM et EN.
            </p>
        </div>
    </div>
    
</div>